header {
  // width: 100%;
  background: rgb(107, 1, 207);
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  nav {
    position: relative;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      li {
        list-style-type: none;
        display: inline-block;
        a {
          display: inline-block;
          color: rgb(0, 255, 13);
          text-decoration: none;
          font-size: 20px;
          font-weight: bold;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}