extends ../layout/main

block variables
  - var title = 'Select task#2'
  - var pageClass = 'index-page'
  - var linkFavicon = 'faviconFirst.ico'

block content
  .app
    .wrapp
      #select
        //- .select__input
        //-   span Text
        //-   i.fa.fa-chevron-down(aria-hidden='true')
        //- .select__dropdown
        //-   ul.select__list
        //-     li.select__item content 1
        //-     li.select__item content 2
        //-     li.select__item content 3
        //-     li.select__item content 4
        //-     li.select__item content 5
        //-     li.select__item content 6