extends ../layout/main

block variables
  - var title = 'Select task#2'
  - var pageClass = 'third Page'
  - var linkFavicon = 'faviconThirth.ico'

block content
  .app
    .wrapp
      p Third page
      #select3